@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#header {
    background: #144DCC !important;
}

#header a {
    color: #ffffff;
    background-color: transparent;
  }

  #header p {
    color: #ffffff;
  }

 #header ul {
    color: #000000;

 }